//sass --watch sass:css en la terminal
//mobile first
//al final borrar borrar
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@import 'variables';

@mixin card {
	min-width: 100px;
	min-height: 150px;
	//border: 1px solid #eee;
	box-shadow: rgba(135, 105, 23, 0.24) 0px 3px 8px;
	border-radius: 1.5rem;
	background-color: #fff;
	text-align: center;
	color: $accent;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 1rem;
	line-height: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 1.6rem;
	//line-height: 2;
	//background-color: $main;
}

.section{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Globales */
img {
	max-width: 100%;
}
.wrapper {
	max-width: 1024px;
	margin: 0 16px;
}

h1 {
	font-size: 3.8rem;
	line-height: 4.5rem;
}

h2 {
	font-size: 3.4rem;
}

h3 {
	font-size: 4rem;
	color: white;
}

h4 {
	font-size: 1.5rem;
}

/* Utilidades */
.flex{
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}
.bg-main{
	background-color: $main;
}
.btn {
	width: 10rem;
	height: 3.5rem;
	border-radius: 0.5rem;
	margin: 1rem 0;
	background-color: $accent;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bth:hover {
	background-color: $primary;
}

/* Header */


.bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	.logo {
		width: 5rem;
	}
	.shop {
		width: 3rem;
	}
}

.hero {
	background: url('../img/green-hero.jpg');
	background-position: center;
	background-size: cover;
	color: #fff;
	height: 100vh;
	
}
.titles{
	background-color: rgba(49, 40, 25, 0.314);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: start;
	justify-content: center;
}

/* Main */

.steps {
	padding: 1rem 2rem;
	display: grid;
	grid-template-columns: 1fr;
	gap:10px;
}


.step {
	//border: 1px solid $primary;

	color: $accent;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	padding: 1rem;
	img {
		width: 20%;
	}
	h4 {
		margin: 1rem;
	}
}
.options{
	display: flex;
	flex-direction: column;
	align-items: center;
	div{
		width: 25rem;
		height: 25rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h3{
			color: #fff;
		}
	}
}
.option1{
	background-image: url('../img/durazno.jpg');
	background-position: center center;
	background-size: cover;
	
}
.option2{
	background-image: url('../img/repollo.jpg');
	background-position: center center;
	background-size: cover;
}
.products{
	//margin: 4rem 0;
}

.fruits-section {
	background: url('../img/fruits-section.jpg');
	background-position: center;
	background-size: cover;
	color: #fff;
	height: 100vh;
	
}
.veggies-section {
	background: url('../img/veggies-section.jpg');
	background-position: center;
	background-size: cover;
	color: #fff;
	height: 100vh;
	
}
.fruits-cards, .veggies-cards {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	margin: 2rem auto;
}

.card {
	@include card;
	img {
		height: 80px;
	}
	h5 {
		color: $secondary;
	}
}

.add {
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $accent;
	color: #fff;
	border-radius: 50%;
	margin: 0;
	cursor: pointer;
}

/* Footer */

.footer {
	background: $accent;
	padding: 1rem 3rem;
	color: #fff;
}
.social {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:1rem;
	padding: 1rem 0;
}

.form{
	display: grid;
	padding: 20px 0px;
	grid-template-columns: 1fr;
	gap:1rem;
	
}
.hide{
	display: none;
}

fieldset{
	font-size: 1rem;
	border: 0px;
	input{
		border-radius: 10px;
		border:none;
		padding: 5px;
	}
	select{
		border: 0px;
		background: $primary;
	}
}
#contact-submit, .btn-show{
	background-color: $accent;
	appearance: none;
	border:none;
	border-radius: 5px;
	padding: 10px;
	color: white;
}

/* Current device (phones, 480 and down) 
@media only screen and (max-width: 480px) {}*/

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (min-width: 640px) {
	.fruits-cards, .veggies-cards {
		grid-template-columns: 1fr 1fr 1fr;
	}
	

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.steps {
		//display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
		h4{
			font-size: 1rem;
		}
		.step{
			img{
				width: 50%;
			}
		}
	}
	.options {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		h4{
			font-size: 1rem;
		}
	}
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
	.fruits-cards, .veggies-cards {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	.form{
		padding: 20px 0px;
		grid-template-columns: 1fr 1fr;
		gap:1rem;
		
	}
	.section{

		height: 100vh;
	}
}

/* Extra large devices (large laptops and desktops, 1536px and up) */
@media only screen and (min-width: 1536px) {
	.wrapper {
		margin: 0 auto;
	}
}
