//sass --watch sass:css en la terminal
//mobile first
//al final borrar borrar
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@import 'variables';

@mixin card {
	min-width: 100px;
	min-height: 150px;
	border: 1px solid #eee;
	border-radius: 1.5rem;
	background-color: #fff;
	text-align: center;
	color: $accent;
	padding: 3rem;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /*reset para rems. 62.5 =10px de 16px*/
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 1.6rem;
	line-height: 2;
	background-color: $main;
}

/* Globales */
img {
	max-width: 100%;
}
.contain {
	max-width: 36rem;
	//max-width: 120rem;
	//padding: 1rem 0;
	margin: 0 auto;
}

h1 {
	font-size: 3.8rem;
	line-height: 4.5rem;
}

h2 {
	font-size: 3.4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.6rem;
}

/* Utilidades */

.btn {
	width: 10rem;
	height: 4rem;
	border-radius: 0.5rem;
	margin: 1rem 0;
	background-color: $secondary;
	color: white;
	text-align: center;
}
.bth:hover {
	background-color: $primary;
}

/* Header */

header {
	background: $main;
}

.bar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 1rem;
	.logo {
		width: 8rem;
	}
	.shop {
		width: 3rem;
	}
}

.slider {
	background: url('../img/bg-slide.jpg');
	background-position: center;
	background-size: cover;
	color: #fff;
	padding: 2rem;
}

/* Main */

.steps {
	//display: flex;
	//justify-content: space-between;
}

.step {
	//border: 1px solid $primary;
	background: $primary;
	color: $accent;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5%;
	margin: 2rem 0;
	padding: 1rem;
	img {
		width: 30%;
	}
	h4 {
		margin: 1rem;
	}
}

.cards {
	display: grid;
	// borrar receta de goncy, ver que significa
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	margin: 2rem auto;
}

.card {
	@include card;
	img {
		max-height: 200px;
	}
	h5 {
		color: $secondary;
	}
}

.add {
	width: 3rem;
	background: $accent;
	color: #fff;
	border-radius: 50%;
	margin: 0;
}

/* Footer */

.footer {
	background: $secondary;
}
.split {
	text-align: center;
	//display: grid;
	//grid-template-columns: 2fr 1fr;
}
